<h1 mat-dialog-title>{{data.todo.title}}</h1>
<div mat-dialog-content><mat-list role="list">
    <mat-list-item >Description: {{data.todo.description}}</mat-list-item>
    <mat-list-item >Task type: {{data.typeDetails.value}}</mat-list-item>
    <mat-list-item >Date: {{data.todo.date}}</mat-list-item>
    <mat-list-item>Status: {{data.todo.completed === true?"Completed": "Not Completed"}}</mat-list-item>

</mat-list></div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</div>
